body{

  background-color:aliceblue;
}

#formulario-tarefa{

  margin-top: 5vh;

}

.navbar {
  justify-content: center;
  color:aliceblue;
}

a.navbar:hover {
  color:aliceblue;
}

.icon-flipped{  
  transform: scaleX(-1);
  -moz-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  -ms-transform: scaleX(-1);
  display: inline-flex;
}

.Delete-Res-button {
  display: inline-flex;
  justify-content: space-between;
}

.delete-button {
  margin-left: 10px;
  
}

.barra-navegacao{
    background-color: burlywood;
}

.botoes-acao{
   background-color:  burlywood;
   color: white;
}